/* this is my personal CSS */

* {
  outline: dotted;
  outline-color: blue;
  outline-width: 5px;
}

body{
  max-width: 960px;
  margin: auto;

}

header {
  outline-width: 20px;
  outline-style: dashed;
  float: left;
}
header > div{
  text-align: center;
}
header > img{
  align-content: right;
}

