/* this is my personal CSS */


body{
  max-width: 960px;
  margin: auto;
  background-color: skyblue;
  /* outline: dotted;
  outline-color: blue;
  outline-width: 5px; */

}

h1{
  font-size: xx-large;
  text-align: left;
}


h3{
  text-align: left;
  font-size: large;
  color: blue;
  text-shadow: cadetblue;
}

h4{
  font-size: medium;
  text-align: left;
}

/* Begin Header */

header {
  /* outline-width: 20px;
  outline-style: dashed; */
  float: left;
  padding: 25px;
  background-color: linen;
  border-radius: 25px;
}
header > div{
  text-align: left;
  margin: 15, 10, 2, 10;
  border-spacing: 25px;
  padding: 10px;
  
}

h2{
  text-align: left;
  font-size: large;
  color: blue;
  text-shadow: cadetblue;
}

header img{
  vertical-align: middle;
  float: right;
  padding: 25px;
  
}

header > main {
  text-align: justify;
  color: blue;
  padding: 25px;
}

p{
  margin: 10px;
  color: black;
  text-align: justify;
}


/* End Header */

/*Begin sections */



.education{
  color: rgb(116, 93, 138);
  float: left;
  padding: 25px;
  background-color: linen;
  border-radius: 25px;
 


}

.experience{
  color: blueviolet;
  background-color: burlywood;
  float: left;
  padding: 25px;
  background-color: linen;
  border-radius: 25px;
 




}


.goals {
  color: black;
  background-color: tomato;
  float: left;
  padding: 25px;
  background-color: linen;
  border-radius: 25px;
 

}

/* End Sections */